@using logicProject.Models.EF;

@{
    ViewBag.Title = "FindPO";
    List<PurchaseOrder> purchaseOrders = (List<PurchaseOrder>)ViewData["purchaseOrders"];
    List<StoreStaff> creators = (List<StoreStaff>)ViewData["creators"];
    Layout = "~/Views/Supervisor/_SupervisorLayout.cshtml";
    //Written by Zhen Xiang
}

@section Styles {

    <link rel="stylesheet" href="https://max.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

<h2>Find Purchase Order</h2>

<p>Welcome to the PO page. Please search for the PO using the options provided</p>

@using (Html.BeginForm("FindPO", "Supervisor", FormMethod.Post))
{
    <select name="status">
        <option value=""></option>
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Rejected">Rejected</option>
    </select>
    <br />
    <input type="submit" value="Search By Status" />
    <br />
}

@using (Html.BeginForm("FindPO", "Supervisor", FormMethod.Post))
{
    <p>Creation Date Range:</p>
    <p>From: <input type="date" name="startDate"> To: <input type="date" name="endDate" /></p>
    <br />
    <input type="submit" value="Search By Date" />
    <br />
}

@*@using (Html.BeginForm("FindPO", "Supervisor", FormMethod.Post))
    {
        <p>PO Number: <input type="text" name="PONumber" /></p>
        <br />
        <input type="submit" value="Search by PO number" />
        <br />
    }*@

@if (purchaseOrders.Count != 0)
{
    <table id="POTable" class="table table-striped table-bordered table-sm table-responsive table-hover cell-border">
        <tr>
            <th>PO Number</th>
            <th>Creating Officer</th>
            <th>Creation Date</th>
            <th>Status</th>
        </tr>
        @foreach (PurchaseOrder po in purchaseOrders)
        {
            <tr>
                <td>@Html.ActionLink(po.OrderId.ToString(), "DetailedPO", "Supervisor", new { id = po.OrderId }, null)</td>
                <td>@creators.Find(x => x.StaffId == po.StaffId).StaffName</td>
                <td>@po.OrderDate.Date.ToString("d")</td>
                <td>@po.Status</td>
            </tr>
        }
    </table>
}

@section Scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#POTable').DataTable();
        })
    </script>
}