
@{
    ViewBag.Title = "AppointRepresentative";
    var current = ViewData["CurrentRep"];
}

<h2>Appoint Representative</h2>

<style>
    .submitBtn {
        background-color: #008EEC; /* BLUE */
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 4px;
        float: right;
    }

        .submitBtn:hover {
            background-color: #73C2FB;
            color: white;
        }
</style>


@*<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive display" id="e-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product Code</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Unit Of Measure</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@

<div>
    <p>Current Representative : @current</p>
    <div style="float: left; width: 40%">
        <select class="StaffName" name="staffname" style="width:100%"></select>
        <br />
        <br />
        <input type="submit" value="Submit" class="submitBtn" />
    </div>
    @*<button type="button" id="productlist" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
        Product List
    </button>*@
</div>

<script>

    //$("#productlist").click(function () {
    //    var d = $("#e-table").DataTable({
    //        "ajax": {
    //            "url": "/Product/GetProductList",
    //            "type": "POST",
    //            //"data": function (data) {
    //            //},
    //            "datatype": "json",
    //        },
    //        "columns": [
    //            {
    //                "data": "ProductId",
    //                "searchable": false,
    //                "orderable": false,
    //                "targets": 0
    //            },
    //            {
    //                "data": "ProductId"
    //            },
    //            { "data": "Category" },
    //            { "data": "Description" },
    //            { "data": "Unit" }

    //        ],

    //        "serverSide": "true",
    //        "order": [0, "asc"],
    //        "processing": "true"
    //    });

    //    //$('#e-tab tbody').on('click', 'button', function () {
    //    d.on('order.dt search.dt', function () {
    //        d.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
    //            cell.innerHTML = i + 1;
    //        });
    //    }).draw();
    //    $("#vSearch").click(function () {
    //        d.ajax.reload();
    //    });
    //});
    $(document).ready(function () {
        $(".StaffName").select2({
            placeholder: "Search Employee Name",
            theme: "classic",
            ajax: {
                type: "GET",
                url: "http://localhost/logic/DeptHead/GetStaffList",
                success: console.log("success"),
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (obj) {
                            return {
                                id: obj.id,
                                text: obj.text
                            }
                        })
                    };
                }
            }
        });
        $(".submitBtn").click(function () {
            let selected = $(".StaffName option:selected").text();
            $.ajax(
                {
                    url: "http://localhost/logic/DeptHead/AppointRep?staffname=" + selected,
                    contentType: 'application/json',
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        alert(data.message);
                        if (data.redirect != null)
                            window.location.href = data.redirect;
                    }
                });
        })

    });
</script>

