@model IEnumerable<logicProject.Models.EF.FavOrderDetails>
@{
    ViewBag.Title = "DeleteFavOrder";
}

<h2>DeleteFavOrder</h2>
@using (Html.BeginForm("DeleteFavOrder", "Request", FormMethod.Post))
{

    <table class="table table-bordered table-responsive">
        <tr>
            <th>Product Description</th>
            <th>Unit of Measure</th>
            <th>Quantity</th>
        </tr>

        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Product.Description</td>
                <td>@a.Product.Unit</td>
                <td>@a.FavQty</td>
            </tr>
        }
    </table>

    <input type="submit" value="Delete" onClick="return confirm('Are you sure you want to delete record?')" />
}

<br />
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "ViewFaveOrder")
</div>

